<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fill Info</title>
</head>
<body>
    <p>Fill the information below.</p>

    <form action="#" method="post" autocomplete="off">
        <p>First Name</p>
        <input type="text" name="first">

        <p>Last Name</p>
        <input type="text" name="last">

        <p>Mob No: {{mob}}</p>

        <p>Your Problem</p>
        <input type="text" name="prob">

        <input type="submit" value="submit">
    </form>
</body>
</html>